@model WebBanHang.Models.EF.News
@{
    ViewBag.Title = "Chi tiết tin tức";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<style>
    .news_section_container {
        margin-top: 180px;
    }

    .title-news {
        font-size: 24px;
        border-bottom: 2px solid;
        padding: 15px 0;
        margin-bottom: 25px;
    }

    .img-box img {
        max-height: 100%;
        max-width: 100%;
    }
</style>
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <div class="title-news">
                @ViewBag.Title
            </div>

        </div>
    </div>

    @if (Model != null)
    {
        <h1>@Model.Image</h1>
    }
</div>

