
@{
    ViewBag.Title = "Thanh toán";
}
<style>
    .error{
        color:red;
    }
</style>

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_styles.css">
<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/categories_responsive.css">

<div class="container product_section_container">
    <div class="row">
        <div class="col product_section clearfix">

            <!-- Breadcrumbs -->

            <div class="breadcrumbs d-flex flex-row align-items-center">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="/"><i class="fa fa-angle-right" aria-hidden="true"></i>Giỏ hàng</a></li>
                </ul>
            </div>



            <!-- Main Content -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1>Thanh toán</h1>
                    <p>Bạn hãy kiểm tra lại thông tin đơn hàng!</p>
                </div>

            </div>
            <hr />
            <div class="row">
                <div class="col-md-9">
                    <div id="show_fail"></div>
                    @Html.Action("Partial_CheckOut","ShoppingCart")
                </div>
                <div class="col-md-3">
                    @Html.Action("Partial_Item_Pay", "ShoppingCart")
                </div>

            </div>
        </div>
    </div>

</div>
@section scripts{
    <script src="~/Content/assets/js/categories_custom.js"></script>
    <script>
        function OnFailure(rs) {
            if (!rs.success) {
                $('#show_fail').html('Đặt hàng thất bại, vui lòng thử lại!')
            }
        }
        $(document).ready(function () {
            $('#myForm').validate({
                rules: {
                    'CustomerName': {
                        required: true
                    },
                    'Phone': {
                        required: true
                    },
                    'Adress': {
                        required: true
                    },
                    'Email': {
                        required: true,
                        email: true
                    }
                },
                messages: {
                    'CustomerName': 'Bạn không để trống trường này',
                    'Phone': 'Bạn không để trống trường này',
                    'Adress':'Bạn không để trống trường này',
                    'Email':'Email không hợp lệ',
                }

            })

        })
    </script>
}


